
@model UVI_Dining.Models.MYSQL_CON

@{
    ViewData["Title"] = "Admin Login";

}
<h2>STT Admin Signup</h2>

<h3>
    This is STT LOGIN YES I HAVE TO DO THE FLIP THING
</h3>
<!--A quick form to test. Can change-->
<form action="successTest" method="post">
    <fieldset>
        
        email:<br>
        <input type="text" name="Email" placeholder="Email" value="">
        <br>
        Password:<br>
        <input type="text" name="Password" placeholder="password" value="">
        <br>



        <input type="submit" value="Submit">
    </fieldset>
</form> 