@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{ Layout = ""; }


@model UVI_Dining.Models.MYSQL_CON
@{
    ViewData["Title"] = "Admin Login";

}

<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/css/signup.css" /> ‌

</head>

<body>
    <div class="container">
        <!--A quick form to test. Can change-->
        <form method="post">


            <img src="~/images/uvilogo.png" alt="UVI logo" title="UVI logo" />
            <h3 class="h3">Admin Registration Form</h3>

            <p class="paragraph"> Already have an admin account? <a href="/Project/login">Sign in.</a> </p>

            <label for="Fname"><b>First Name</b></label>
            <input type="text" name="FName" class="ipt" value="">

            <label for="Lname"><b>Last Name</b></label>
            <input type="text" name="LName" class="ipt" value="">

            <label for="Email"><b>Email</b></label>
            <input type="email" name="Email" class="ipt" value="">

            <label for="Password"><b>Password</b></label>
            <input type="password" name="Password" class="ipt" value="">

            <label for="user_Status"><b>Status</b></label>
            <input type="text" name="user_Status" class="ipt" value="">

            <label for="campus"><b>Campus</b></label>
            <input type="text" name="campus" class="ipt" required>

            <!--This is the area I was trying to insert input to DB but fail-->


            <input type="submit" value="Submit">

        </form>
    </div>
</body>
