@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{ Layout = ""; }
@model UVI_Dining.Models.logVal
@using UVI_Dining.Models
@{
    ViewData["Title"] = "Admin Login";

}



<h1>Welcome @Session["FName"] !</h1>
<h1>Campus: @Session["campus_loc"] </h1>
<h1>Status: @Session["user_Status"] </h1>

<a href="/Project/successTest">Home</a><b>|</b>
<a href="/Project/SignUp">Add a User</a><b>|</b>
<a href="/Project/index">Log Out</a><b>|</b>
<a href="/Project/Foods">Foods</a><b> | </b>
<a href="/Project/addFoods">Add Food</a>

<!--NONSENSE test-->
@*@(Session["model"] as logVal).FName*@