@{ Layout = ""; }


@{
    ViewData["Title"] = "Contact";

}



<head>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="~/Content/aboutus.css" /> ‌

</head>

<body>

    <!--- Logo ---->


    <div class="header">
        <img src="~/images/uvilogo3.png" alt="UVI logo" title="UVI logo" class="logo" />


    </div>


    <br id="greenbarheight"> </br>


    <div id="greenbar"></div>



    <div class="nav">
        <ul>
            <li> <a href="/Project/Index">Home</a> </li>
            <li> <a href="/Project/Menu">Menu</a> </li>
            <li> <a href="/Project/Contact">Contact</a> </li>
            <li> <a href="/Project/aboutus">About Us</a> </li>

        </ul>
    </div>

    <br id="greenbarheight2"> </br>

    <div id="greenbar2"></div>

    <br id="greenbarheight3"> </br>

    <div id="greenbar3"></div>

    <p id="breakpoint"> </p>


    <!--- bottom navigation bar -->

    <div class="navi1">
        <a href="/Project/login">Sign in</a>
        <a href="/Project/SignUp">Register</a>
        <a href="/Project/location">Location</a>
        <a href="/Project/hours">Hours of Operation</a>



    </div>
</body>