body div {
    height: 90%;
}

* {
    box-sizing: border-box;
}


body {
    background-image: url("https://navigare-yachting.com/images/blog/british-virgin-islands/british-virgin-islands-tortola-main.jpg");
    min-height: 380px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}



.container img {
    float: left;
    width: 70px;
    height: 70px;
    position: absolute;
}

.container {
    margin: 0 auto;
    margin-top: 10px;
    max-width: 600px;
    height: 592px;
    padding: 12px;
    border-radius: 10px;
    background-color: white;
}

.h3 {
    margin-top: -5px;
    background: #FFD933;
    text-align: center;
    border-radius: 8px;
    padding: 25px;
}

.paragraph {
    margin-top: -10px;
    text-align: center;
}

    .paragraph a:hover {
        opacity: .7;
    }

.ipt {
    width: 100%;
    padding: 10px;
    margin: 3px 0 13px 0;
    border: none;
    background: whitesmoke;
}

    .ipt:focus {
        background-color: #ddd;
        outline: none;
    }

.btn {
    margin: 0 auto;
    display: block;
    background-color: #FFD933;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
    width: 50%;
    opacity: 1;
    border-radius: 10px;
}

    .btn:hover {
        opacity: .8;
    }
