@model UVI_Dining.Models.MYSQL_CON
@{
    ViewData["Title"] = "Admin Login";
   
}

<h2>STT Admin Signup</h2>

<h3> This is STT LOGIN YES I HAVE TO DO THE FLIP THING
</h3>
<!--A quick form to test. Can change-->
<form method="post">
    <fieldset>
        First name:<br>
        <input type="text" name="FName" placeholder="firstname" value="">
        <br>
        Last name:<br>
        <input type="text" name="LName" placeholder="last name" value="">
        <br>
        email:<br>
        <input type="text" name="Email" placeholder="Email" value="">
        <br>
        Password:<br>
        <input type="text" name="Password" placeholder="password" value="">
        <br>
        Satus:<br>
        <input type="text" name="status" value="">
        <br>
        Campus:<br>
     
       <!--This is the area I was trying to insert input to DB but fail-->
   
        <br><br>
        <input type="submit" value="Submit">
    </fieldset>
</form> 